<div class="container ">
    <div class="col-lg-10 col-md-10 col-sm-10  mx-auto ">
      <nav class="navbar mt-3 bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">List of Employees ( {{count}} )</span>
          <a routerLink="/createEmployee">New</a>
        </div>
      </nav>
        <table class="table mt-3 table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">LastName</th>
                <th scope="col">email</th>
                <th scope="col">age</th>
                <th scope="col">photo</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody *ngFor=" let employee of list">
              <tr >
                <td ><a  [routerLink]="['/detailsEmployee/',employee.id]">{{employee.name}} </a></td>
                <td >{{employee.lastName}}</td>
                <td >{{employee.email}}</td>
                <td >{{employee.age}}</td>
                <td >  
                    <img [src]="employee.photo" style="width: 80px;">
                </td>
                <td>
                                
                  <i [routerLink]="['/editEmployee/',employee.id]" class="fa-solid fa-pen-to-square fa-lg text-success mx-3 mt-4"
                  style="cursor: pointer;"></i>
                  
                  <i class="fa-solid fa-trash fa-lg text-danger" (click)="remove(employee.id)" style="cursor: pointer;"></i>
                </td>
              </tr>
                        </tbody>
          </table>
    </div>
</div>
