<div class="container">
    <div class="row">
        <div class="col-lg-8-offset-1 text-center " >
            <div class="card mt-5" >
                <div class="col-4"><img [src]="myUser.photo" class="card-img-top" alt="..." style="max-width: 200px;">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <p class="card-text">UserName :  {{myUser.username}}</p>
                        <p class="card-text">Role :  {{myUser.role}}</p>
                      </div>
                </div>
                 
              </div>
    </div>
</div>
