<div class="container ">
    <div class="card mb-3 mt-3 mx-auto col-lg-6 col-md-6 col-sm-8"  >
        <div class="card-header">
          <h4 class="offset-4"> {{title}}</h4>
        </div>
        <div class="row g-0">
          <div class="col-md-4" >
            <img [src]="employee.photo" style="max-width: 150px;" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Name : {{employee.name}}</h5>
              <p class="card-text">Last Name : {{employee.lastName}}</p>
              <p class="card-text">email : {{employee.email}}</p>
              <p class="card-text">Age : {{employee.age}}</p>
              <p class="card-text">Company : {{employee.companyName}}</p>
              <p class="card-text">Phone : {{employee.phoneNumber}}</p>
              <p class="card-text">Role : {{employee.role}}</p>
              <p class="card-text">Salary : {{employee.salary | currency}}</p>
              <div class="card-footer">
                <button type="button" class="btn btn-danger mx-3" *ngIf="title==='Remove Employee'" (click)="remove(employee.id)">Yes</button>
                <button type="button" class="btn btn-secondary"  routerLink="listEmployees">Go Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
